//colors

$grey-light: #ecedee;
$grey-holder: #9298a2;
$black-light: #273348;
$white-main: #ffffff;
$green-btn: #2dd08c;
$red-delete: #f54436;

//text fonts

$work-sans-fonst: "Work Sans", sans-serif;


//other
$table-column-max-size: 260px;